/* .category-container {
  min-height: calc(100vh - 48px);
}
 */
.custom-tabs .ant-tabs-nav {
  margin-bottom: 0 !important;
}

.custom-tabs .ant-tabs-tab {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
  transition: all 0.3s ease;
}

.custom-tabs .ant-tabs-tab-active {
  color: #3b82f6 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background: #3b82f6;
  height: 3px !important;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #3b82f6;
}

.tab-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
